 <section id="tournament" class="bg-light-gray">
     <br>
            <br>
            <br>
            <br>
     <br>
            <br>
            <br>
            <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Details for {{tournament.title}}</h2>
                </div>
            </div>
            <div class="row">
                
                    <div class="team-member text-center" >
                       <center><img src="images/even1.jpg" class="img-responsive" alt=""></center> 
                        <h4> Tournament title : {{tournament.title}}</h4>
                        <h4> Tournament description : {{tournament.description}}</h4>
                    
                       
                        
                    </div>
                </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">{{tournament.description}}</p>
                </div>
               
            </div>
        </div>
    </section>

