<section id="register">
    <br>
    <br>
    <br>
     <br>
    <br>
    <br>
    <br>
    <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Update your profile</h2>
                   
                </div>
            </div>
           
                  
                      <form class="form-horizontal" role="form" ng-submit="updateGamer()">
    <div ng-include="'partials/gamer/_form.html'"></div>
</form>     
                    </form>
                </div>
</section>