<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="partner.name" class="form-control" id="name" placeholder="put your name  Here"/>
    </div>
</div>

<div class="form-group">
    <label for="description" class="col-sm-2 control-label">description</label>
    <div class="col-sm-10">
        <input type="text" ng-model="partner.description" class="form-control" id="description" placeholder="put your description  Here"/>
    </div>
</div>

<div class="form-group">
    <label for="mail" class="col-sm-2 control-label">mail</label>
    <div class="col-sm-10">
        <input type="text" ng-model="partner.mail" class="form-control" id="mail" placeholder="put your mail  Here"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save" />
		
    </div>
</div>
	
