<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId=1120395141304219";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<section id="event">
		<div class="container">
			<br>
            <br>
            <br>
            <br>
			<div class="row">
				<div class="col-sm-12 col-md-9">
					<div id="event-carousel" class="carousel slide" data-interval="false">
						<h2 class="heading">All Events</h2>
						<a class="even-control-left" href="#event-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
						<a class="even-control-right" href="#event-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
						<div class="carousel-inner">
							<div class="item active">
								<div class="row">
									<div class="col-sm-4" ng-repeat="evenement in evenements">
										<div class="single-event">
											<img class="img-responsive" src="images/even1.jpg" alt="event-image">
											<h4>{{evenement.title}}</h4>
											<a class="btn btn-primary" ui-sref="viewEvenement({id:evenement.id})">View</a>
                                             <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
										</div>
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
                <br>
                <br>
                <br>
				
			</div>			
		</div>
	</section>